
<div>
    @{Html.EJ().Accordion("multiAccordion").Items(data =>
   {
       data.Add().Text("Orubase").ContentTemplate(@<div>
        Orubase is the only mobile application development framework built especially for developing complex line-of-business mobile applications targeting iOS, Android, and Windows Phone platforms in the shortest possible timeframe.
    </div>);
       data.Add().Text("WinRT XAML").ContentTemplate(@<div>
        Essential Studio for WinRT contains all the controls you need to build line-of-business tablet applications including grid, chart, map, tree map, SSRS report viewer, rich-text editor, pdf viewer, gauges, barcode, editors, and much more.
        It also includes a unique set of controls for reading and writing Excel, Word, and PDF documents in Windows store apps.
    </div>);
       data.Add().Text("Metro Studio").ContentTemplate(@<div>
        Syncfusion Metro Studio is a collection of over 2500 Metro-style icon templates that can be easily customized to create thousands of unique Metro icons.
    </div>);
   }).EnableMultipleOpen().Render();}
</div>