# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.gen
*.gen
*.lock
App_Data/TEMP/ExamineIndexes/External/Index/_0_1.del
*.del
App_Data/TEMP/ExamineIndexes/Internal/Index/segments.gen
*.cfs
App_Data/TEMP/ExamineIndexes/Internal/Index/_a.fdt
*.fdx
App_Data/TEMP/ExamineIndexes/Internal/Index/_a.frq
*.nrm
App_Data/TEMP/ExamineIndexes/Internal/Index/_a.prx
*.tii
App_Data/TEMP/ExamineIndexes/Internal/Index/_a.tis
*.tvd
App_Data/TEMP/ExamineIndexes/Internal/Index/_a.fnm
*.tvf
App_Data/TEMP/PluginCache/umbraco-plugins.VHSC033JD1.hash
*.gen
App_Data/TEMP/ExamineIndexes/External/Index/segments.gen
App_Data/TEMP/ExamineIndexes/Internal/Index/segments.gen
