@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<form method="post" action="" enctype="multipart/form-data">
    <fieldset>  
        <input type="file" id="cv" name="cv" accept="application/pdf"/>
        <input type="submit" id="submit" value="Send" />
    </fieldset> 
</form>