@inherits UmbracoTemplatePage
@{
    Layout = "~/Views/LoginLayout.cshtml";
}
<link href="~/CSS/Layout/_tableContent.css" rel="stylesheet" type="text/css" />
<link href="~/CSS/Layout/_controlImage.css" rel="stylesheet" type="text/css"/>
<div id="chartContainerCJS" style="height: 360px; width: 40%;"></div>
<div>
    <button onclick="onClick()" title="click me">change chart data?</button>
</div>
<script src="@Url.Content("~/scripts/canvasjs.min.js")"></script>
<script type="text/javascript">
    var chartRef;
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainerCJS",
    {
        title: { text: "test chart" },
        theme: "theme1",
        dataPointMaxWidth: 8,
        toolTip: {
            shared: true,
            reversed: true,
            cornerRadius: 3,
            borderThickness: 0
        },
        animationEnabled: true,

        axisX: {
            gridThickness: 0.5,
            tickLength: 2,
            labelFontSize: 18
        },

        axisY: {
            lineThickness: 0,
            gridThickness: 0,
            tickLength: 0,
            labelFontColor: "white"
        },
        data: [
    {
        type: "stackedArea",
        color: "#49CBC0",
        //toolTipContent: "<span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y}",
        name: "Valid Over 1 Hr", //          showInLegend: "true",
        dataPoints: [
        { y: 23, label: "FTE" },
        { y: 23, label: "CHE" },
        { y: 8, label: "SUE" },
        { y: 40, label: "CFE" },
        { y: 15, label: "YKC" },
        { y: 20, label: "OME" }
        ]
    },
    {
        type: "stackedArea",
        color: "#AFD85E",
        //toolTipContent: "<span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y}",
        name: "Valid within 1 Hr", //          showInLegend: "true",
        dataPoints: [
        { y: 10, label: "FTE" },
        { y: 22, label: "CHE" },
        { y: 16, label: "SUE" },
        { y: 14, label: "CFE" },
        { y: 27, label: "YKC" },
        { y: 20, label: "OME" }
        ]
    },
        {
            type: "stackedArea",
            color: "#EFD831",
            //toolTipContent: "<span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y}",
            name: "Expired within 1 Hr", //            showInLegend: "true",
            dataPoints: [
        { y: 8, label: "FTE" },
        { y: 2, label: "CHE" },
        { y: 9, label: "SUE" },
        { y: 11, label: "CFE" },
        { y: 14, label: "YKC" },
        { y: 8, label: "OME" }
            ]
        },
        {
            type: "stackedArea",
            color: "#EA6B70",
            //toolTipContent: "<span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y}",
            name: "Expired over 1 Hr",  //            showInLegend: "true",
            dataPoints: [
        { y: 0, label: "FTE" },
        { y: 2, label: "CHE" },
        { y: 1, label: "SUE" },
        { y: 2, label: "CFE" },
        { y: 4, label: "YKC" },
        { y: 3, label: "OME" }
            ]
        },
        ]
    ,
        legend: {
            cursor: "pointer",
            itemclick: function (e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                }
                else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }
        }
    });
        chart.render();
        chartRef = chart;
    }

    function onClick() {
        alert("hello");
        chartRef.options.data =
            [
            {
                type: "stackedArea",
                color: "#49CBC0",
                name: "Valid Over 1 Hr",
                dataPoints: [
                { y: 23, label: "FTE" },
                { y: 23, label: "CHE" },
                { y: 8, label: "SUE" },
                { y: 40, label: "CFE" },
                { y: 15, label: "YKC" },
                { y: 20, label: "OME" }]
            },
            {
                type: "stackedArea",
                color: "#AFD85E",
                name: "Valid within 1 Hr",
                dataPoints: [
                { y: 23, label: "FTE" },
                { y: 23, label: "CHE" },
                { y: 8, label: "SUE" },
                { y: 40, label: "CFE" },
                { y: 15, label: "YKC" },
                { y: 20, label: "OME" }]
            },
            {
                type: "stackedArea",
                color: "#EFD831",
                name: "Expired within 1 Hr",
                dataPoints: [
                { y: 8, label: "FTE" },
                { y: 2, label: "CHE" },
                { y: 9, label: "SUE" },
                { y: 11, label: "CFE" },
                { y: 14, label: "YKC" },
                { y: 8, label: "OME" }]
            },
            {
                type: "stackedArea",
                color: "#EA6B70",
                name: "Expired over 1 Hr",
                dataPoints: [
                { y: 10, label: "FTE" },
                { y: 22, label: "CHE" },
                { y: 16, label: "SUE" },
                { y: 14, label: "CFE" },
                    { y: 27, label: "YKC" },
                    { y: 20, label: "OME" }]
                },
                ]
            chartRef.render();
        }
    </script>


