.alert
{
    background-image:url('~/CSS/images/icon_alert.png');
    background-repeat:no-repeat;
    background-position:right center;
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
