<access>
  <page id="1117" loginPage="1123" noRightsPage="1122" simple="False">
    <group id="MemberAdmin" />
  </page>
  <page id="1114" loginPage="1123" noRightsPage="1122" simple="False">
    <group id="MemberAdmin" />
  </page>
  <page id="1147" loginPage="1123" noRightsPage="1122" simple="False">
    <group id="MemberAdmin" />
  </page>
  <page id="1168" loginPage="1123" noRightsPage="1122" simple="False">
    <group id="MemberAdmin" />
  </page>
</access>